{% extends 'base.html' %} 
{% load static %}
{% block link %}
	<link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
{% endblock %}
{% block content %} 


		<!-- Change Password section start -->
		<section class="pages login-page section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="main-input padding60 new-customer">
							<div class="log-title">
								<h3><strong>Change password</strong></h3>
							</div>
							<div class="custom-input">
								<form action="{% url 'password_change' %}" method="POST">
									{% csrf_token %}
									{{ form.non_field_errors }}
									{% for field in form %}
									<div class="form-group">
										
										{{field}}
										<ul>
										{% for error in field.errors %}
											<li>{{error}}</li>
										{% endfor %}
										</ul>
									</div>
									{% endfor %}
									<div class="form-group">
										<input type="submit" value="Send" class="btn btn-primary py-3 px-5">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Change Password section end -->
{% endblock %}