{% extends 'base.html' %} 
{% load static %}
{% block link %}
	<link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
{% endblock %}
{% block content %} 

        <!-- pages-title-start -->
		<div class="pages-title section-padding">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pages-title-text text-center">
							<h2>Register</h2>
							<ul class="text-left">
								<li><a href="{% url 'index' %}">Home </a></li>
								<li><span> // </span>Register</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- pages-title-end -->
		<!-- login content section start -->
		<section class="pages login-page section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="main-input padding60">
							<div class="log-title">
								<h3><strong>registered customers</strong></h3>
							</div>
							<div class="login-text">
								<div class="custom-input">
									<p>If you have an account with us, Please log in!</p>
									<form action="" method="POST">
										 
										{% csrf_token %}
										{{ form.non_field_errors }}
										
											<div class="form-group">
												
												{{form}}
												<ul>
												{% for error in field.errors %}
													<li>{{error}}</li>
												{% endfor %}
												</ul>
											</div>
									
										<!-- <a class="forget" href="{% url 'password_reset' %}">Forget your password?</a> -->
										<div class="submit-text">
											<button type='submit' name='submit'>Submit</button>
										</div>
										
									</form>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</section>
		<!-- login content section end -->
{% endblock %}